
#moreinfo{
  margin-top: 10px;
}

html{
  height: 100%
}

body{
  font-family: Lato;
 background: #FFEFBA;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

a{
  float:left;
}

i{
  margin-right:10px;
  color: #4784fa;
}

h1{
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
li img{
    width: 128px;
    height: 128px;
    float: left;
    margin: auto;
    padding-right: 10px;
}


ul {
  list-style-type: none;
}

button{
  margin: 20px auto;
}
.movie{
  width: 360px;
  margin: 50px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.movie:nth-child(2n){
  background: #f7f7f7;
}

.plot{
  color: gray;
  font-size: 0.89em;
}

.rating{
  color: #939e14;
  font-size: 0.9em;
  text-shadow: 5px;
}

.money{
  color: rgb(10, 218, 49);
  font-size: 1.5em;
}
